version: "3.4"
services:
  app:
    build:
      context: .
      target: prod

    ports:
      - "3000:3000"

    depends_on:
      - mongo

    environment:
      MONGO_URL: mongodb://${DB_USERNAME:-dbuser}:${DB_PASSWORD:-dbpassword}@mongo/${DB_NAME:-dbname}
      SECRET: ${SECRET:-supersecure}

  mongo:
    image: mongodb/mongodb-community-server:6.0-ubi8

    environment:
      MONGODB_INITDB_ROOT_USERNAME: ${MONGODB_INITDB_ROOT_USERNAME:-root}
      MONGODB_INITDB_ROOT_PASSWORD: ${MONGODB_INITDB_ROOT_PASSWORD:-rootme}
      DB_USERNAME: ${DB_USERNAME:-dbuser}
      DB_PASSWORD: ${DB_PASSWORD:-dbpassword}
      DB_NAME: ${DB_NAME:-dbname}

    volumes:
      - "./mongo-init:/docker-entrypoint-initdb.d:ro"

